.orderContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formFirst {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #dddddd;
}

.formItem > label {
  font-size: 1rem;
  font-weight: bold;
}

.formItem > input {
  height: 1.5rem;
  font-size: 1rem;
  overflow: scroll;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions > button {
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.confirmBtn {
  background-color: #f05454;
}

.confirmBtn:hover,
.confirmBtn:active {
  background-color: rgb(218, 66, 66);
  transform: scale(1.1);
}

.cancelBtn {
  background-color: #dddddd;
}

.cancelBtn:hover,
.cancelBtn:active {
  background-color: #cac9c9;
  transform: scale(1.1);
}

.invalid > input {
  border-color: #f05454;
}

.message {
  color: #f05454;
  font-weight: bold;
  font-size: 1rem;
}
