.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #dddddd;
  border-top: 1px dashed #dddddd;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.info > h3 {
  margin: 1rem 0;
}

.info > p {
  font-style: italic;
}

.info > div {
  color: #f05454;
  font-size: 1.3rem;
  font-weight: bold;
}
