.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f05454;
  border: none;
  padding: 0 2rem;
  border-radius: 30px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.button > span {
  font-size: 2rem;
}

.button > h2 {
  margin-left: 1rem;
}

.button > small {
  font-size: 1.5rem;
  margin-left: 1rem;
  background-color: #30475e;
  padding: 5px 10px;
  border-radius: 50%;
  color: #dddddd;
}

.button:hover,
.button:active {
  background-color: rgb(218, 66, 66);
  transform: scale(1.1);
}

.bump {
  animation: bump 300ms ease-in-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
