.headerContainer {
  background-color: #30475e;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 4rem;
  color: #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
}

.headerContainer h1 {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
}
