.headerContainer {
  background-color: #30475e;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: #dddddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.headerContainer h1 {
  font-weight: 900;
}
